root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,yml}]
indent_size = 2

[*.{sln,DotSettings}]
indent_style = tab

[*.{csproj,resx,config}]
indent_size = 2
insert_final_newline = false
