################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backup
/TVRename#/obj/Debug
/TVRename#/bin/Debug
/packages
/.vs/TVRename#/v15
/TVRename#/obj/Release
/TVRename#/bin/Release
