---
---

@import "{{ site.theme }}";
.highlighter-rouge {
    color: #000000;
    background-color: lightgray;
    border-radius: 1px;
    border: 1px solid darkgray;
    padding: 3px;
    white-space: nowrap;
}

h1, h2 {
   color: #3399cc;
}
	
h1 a:link, a:visited {
    font-weight: bold;
}
h1 a:hover, a:active {
    border-bottom: 3px solid #3399cc;
}

h2 a:link, a:visited {
    font-weight: bold;
}

h2 a:hover, a:active {
    border-bottom: 3px solid #3399cc;
}

p a:link, a:visited {
    font-weight: bold;
}

p a:hover, a:active {
    border-bottom: 1px solid #3399cc;
}

li a:link, a:visited {
    font-weight: bold;
}

li a:hover, a:active {
    border-bottom: 1px solid #3399cc;
}
