<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" internalLogToConsole="true">

    <targets>
        <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/TVRename/TVRename/log/TVRename.log" 
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level:uppercase=true}| ${message}"  
                maxArchiveFiles="9" 
                archiveFileName="${specialfolder:folder=ApplicationData}/TVRename/TVRename/log/archive/TVRename.{##}.log"            
                archiveNumbering="Rolling" 
                archiveEvery="Day"
                archiveOldFileOnStartup="true"/>
        <target xsi:type="OutputDebugString" name="debug" layout="${date:format=HH\:mm\:ss}|${level:uppercase=true}| ${message}" />
        <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level:uppercase=true}| ${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console,debug" />
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>
